* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: sans-serif;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.floatLeft {
  float: left;
  padding: .5em .5em .5em 0; }

.floatRight {
  float: right;
  padding: .5em 0 .5em .5em; }

@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf"); }

@font-face {
  font-family: 'Lemon Milk';
  font-style: italic;
  font-weight: normal;
  src: url("../../assets/fonts/lemon_milk/LEMONMILK-RegularItalic.otf"); }

.bsp_bold {
  font-weight: bold;
  font-style: italic; }

main.index {
  background-color: #CCCCCC; }
  main.index section.primeraSeccionIndex {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 2rem 1rem;
    justify-content: center;
    margin-bottom: 2rem; }
    main.index section.primeraSeccionIndex img.imalogotipoHero {
      max-width: 40rem;
      margin: 0 auto;
      margin-top: 13vh; }
    main.index section.primeraSeccionIndex img.asesoriaTuristica {
      animation-delay: 1s;
      align-self: center;
      max-width: 30rem;
      margin-top: 2rem; }
    main.index section.primeraSeccionIndex a {
      margin-top: 3rem;
      background-color: inherit; }
      main.index section.primeraSeccionIndex a i {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        color: #457373;
        font-size: 48px; }
        main.index section.primeraSeccionIndex a i:hover {
          color: #233a5e; }
  main.index section.segundaSeccionIndex {
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin: 2rem; }
    main.index section.segundaSeccionIndex div.segundaSeccionIndex__parrafo {
      max-width: 550px;
      background-color: #e2e3cf;
      border-radius: 0 0 15px 15px; }
      main.index section.segundaSeccionIndex div.segundaSeccionIndex__parrafo h3 {
        background-color: #09123d;
        color: #e2e3cf;
        font-family: 'Alfa Slab One', cursive;
        border-radius: 0 0 10px 10px;
        padding: .5rem 0;
        box-shadow: 1px 4px 8px 3px rgba(0, 0, 0, 0.35); }
      main.index section.segundaSeccionIndex div.segundaSeccionIndex__parrafo p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.3rem;
        margin: 1rem;
        padding: .5rem; }
      main.index section.segundaSeccionIndex div.segundaSeccionIndex__parrafo i {
        font-size: 2.5rem; }
  main.index section.terceraSeccionIndex {
    display: flex;
    justify-content: center;
    padding: 3rem; }
    main.index section.terceraSeccionIndex div.terceraSeccionIndex__parrafo {
      font-size: 2.5rem;
      text-align: center;
      width: 60vw;
      color: #233a5e; }

@media only screen and (max-device-width: 1280px) {
  main.index section.segundaSeccionIndex {
    flex-direction: column;
    align-items: center; }
    main.index section.segundaSeccionIndex div.segundaSeccionIndex__parrafo {
      margin-bottom: 2rem; } }

header {
  z-index: 15;
  background: linear-gradient(to right, #09123d, #457373);
  border-radius: 0 0 15px 15px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1px 4px 8px 3px rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  width: 99vw;
  max-height: 12vh; }
  header nav {
    background: linear-gradient(to right, #09123d, #457373);
    border-radius: 0 0 15px 15px; }
    header nav div button.navbar-toggler {
      outline: 0; }
      header nav div button.navbar-toggler:focus {
        box-shadow: 0px 0px 0px 3px rgba(226, 227, 207, 0.1); }
    header nav div div {
      justify-content: flex-end;
      margin-right: 3rem; }
      header nav div div ul li {
        margin-right: .5rem; }
        header nav div div ul li a {
          color: #CCCCCC;
          font-size: 1.2rem; }
          header nav div div ul li a:hover {
            color: #CCCCCC;
            text-decoration: underline;
            text-decoration-color: #CCCCCC; }

@media only screen and (max-device-width: 337px) {
  nav.navbar div {
    display: flex;
    justify-content: center !important; }
    nav.navbar div a img {
      height: 2rem; } }

@media (min-device-width: 337px) and (max-device-width: 100000px) {
  nav div a img {
    height: 2.5rem; } }

footer {
  background-color: #457373; }
