* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: sans-serif; }

ul, ol {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.floatLeft {
  float: left;
  padding: .5em .5em .5em 0; }

.floatRight {
  float: right;
  padding: .5em 0 .5em .5em; }

@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf"); }

@font-face {
  font-family: 'Lemon Milk';
  font-style: italic;
  font-weight: normal;
  src: url("../../assets/fonts/lemon_milk/LEMONMILK-RegularItalic.otf"); }

.bsp {
  font-family: "Alfa Slab One";
  font-size: 5rem; }

.subtitulo {
  font-family: "Lemon Milk";
  font-style: italic;
  font-size: 2rem; }

header {
  background: linear-gradient(to right, #09123d, #457373);
  border-radius: 0 0 15px 15px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1px 4px 8px 3px rgba(0, 0, 0, 0.35); }
  header nav div a img {
    height: 3rem; }
  header nav div button {
    border: solid 2px #e2e3cf !important; }
  header nav div div {
    justify-content: flex-end;
    margin-right: 3rem; }
    header nav div div ul li {
      margin-right: 1rem; }
      header nav div div ul li a {
        color: #e2e3cf;
        font-size: 1.5rem; }
        header nav div div ul li a:hover {
          color: #e2e3cf;
          text-decoration: underline;
          text-decoration-color: #e2e3cf; }
