@font-face {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf");
}

@font-face {
    font-family:'LemonMilk_bold';
    font-style: bold;
    src: url("../../assets/fonts/lemon_milk/LEMONMILK-Bold.otf");
}

@font-face {
    font-family:'LemonMilk_boldItalic';
    font-style: bold, italic;
    src: url("../../assets/fonts/lemon_milk/LEMONMILK-BoldItalic.otf");
}

@font-face {
    font-family:'Lemon Milk_light';
    font-style: initial;
    src: url("../../assets/fonts/lemon_milk/LEMONMILK-Light.otf");
}

@font-face {
    font-family:'Lemon Milk_lightItalic';
    font-style: italic, initial;
    src: url("../../assets/fonts/lemon_milk/LEMONMILK-LightItalic.otf");
}


@font-face {
    font-family:'Lemon Milk_regular';
    font-style: normal;
    src: url("../../assets/fonts/lemon_milk/LEMONMILK-Regular.otf");
}


@font-face {
    font-family:'Lemon Milk_regularItalic';
    font-style: normal,italic;
    src: url("../../assets/fonts/lemon_milk/LEMONMILK-RegularItalic.otf");
}

.bsp{
    font-family: 'Alfa Slab One';
}
.solutions{
    font-family: 'Lemon Milk_lightItalic';
    font-size: 12px;
}