footer{
    background-color: $azul-claro;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 100%;
    bottom: 0;

    section.redes__footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        div{
            display: flex;
            flex-direction: column;
            ul{
                li{
                    padding-top: 1rem;
                    a{
                        color: $fondo-claro;
                        display: flex;
                        flex: row;
                        align-items: center;
                        &:hover {
                            color: $azul-oscuro;
                        }
                        i{
                            font-size: 2rem;
                        }
                        p{
                            font-family: 'Roboto', sans-serif;
                            font-size: 1rem;
                            align-self: center;
                            margin-bottom: 0;
                            margin-left: 14px;
                        }
                    }
                }
            }
        }
    }
    section.copy__footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        p{
            font-family: 'Roboto', sans-serif;
            margin: 1rem .5rem 0 .5rem;
            a{
                color: inherit;
                &:hover{
                    color: $gris-claro;
                }
            }
        }
    }
}