header {
    z-index: 15;
    background: linear-gradient(to right, $azul-oscuro, $azul-claro);
    border-radius: 0 0 15px 15px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 1px 4px 8px 3px rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    left: 0;
    width: 99vw;
    max-height: 12vh;

    nav {
        background: linear-gradient(to right, $azul-oscuro, $azul-claro);
        border-radius: 0 0 15px 15px;

        div {

            button.navbar-toggler {
                outline: 0;

                &:focus {
                    box-shadow: 0px 0px 0px 3px rgba(226, 227, 207, 0.1);
                }
            }

            div {
                justify-content: flex-end;
                margin-right: 3rem;

                ul {
                    li {
                        margin-right: .5rem;

                        a {
                            color: $gris-claro;
                            font-size: 1.2rem;

                            &:hover {
                                color: $gris-claro;
                                text-decoration: underline;
                                text-decoration-color: $gris-claro;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-device-width: 337px) {
    nav.navbar{
        div {
            display: flex;
            justify-content: center !important;
            a {
                img {
                    height: 2rem;
                }
            }
        }
    }
}

@media (min-device-width: 337px) and (max-device-width: 100000px) {
    nav {
        div {

            a {
                img {
                    height: 2.5rem;
                }
            }
        }
    }
}