main.index{
    background-color: $gris-claro;
    background: linear-gradient($gris-claro, $azul-oscuro);
    padding-top: 20vh;
    section.primeraSeccionIndex{
        display: flex;
        height: 100vh;
        img{
            max-width: 40rem;
            margin: 0 auto;
        }
    }
    section.segundaSeccionIndex{
        height: 100vh;
    }
}