main.index {
    background-color: $gris-claro;

    section.primeraSeccionIndex {
        display: flex;
        flex-direction: column;
        margin: 0 1rem 2rem 1rem;
        align-items: center;
        margin-bottom: 2rem;


        img.imalogotipoHero {
            max-width: 40rem;
            margin: 0 auto;
            margin-top: 13vh;
        }

        img.asesoriaTuristica {
            animation-delay: 1s;
            align-self: center;
            max-width: 30rem;
            margin-top: 2rem;
        }

        a {

            margin-top: 3rem;
            background-color: inherit;

            i {
                display: flex;
                justify-content: center;
                padding-top: 1rem;
                color: $azul-claro;
                font-size: 48px;

                &:hover {
                    color: $azul-medio;
                }
            }
        }

    }

    section.segundaSeccionIndex {
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        // justify-content: space-around;
        margin: 2rem;

        div.segundaSeccionIndex__parrafo {
            max-width: 550px;
            background-color: $fondo-claro;
            border-radius: 0 0 15px 15px;

            h3 {
                background-color: $azul-oscuro;
                color: $fondo-claro;
                font-family: 'Alfa Slab One', cursive;
                border-radius: 0 0 10px 10px;
                padding: .5rem 0;
                box-shadow: 1px 4px 8px 3px rgba(0, 0, 0, 0.35);

            }

            p {
                font-family: 'Roboto', sans-serif;
                font-size: 1.3rem;
                margin: 1rem;
                padding: .5rem;

            }

            i {
                font-size: 2.5rem;
            }
        }
    }

    section.terceraSeccionIndex {
        display: flex;
        justify-content: center;
        padding: 2rem 0;


        div.terceraSeccionIndex__parrafo {
            box-shadow: 1px 5px 16px 8px rgba(0, 0, 0, 0.35);
            border-radius: 15px;
            background-color: $azul-medio;
            font-size: 2.5rem;
            text-align: center;
            width: 60vw;
            color: $fondo-claro;
            padding: 1rem 2rem;

            p {
                font-family: 'Domine', serif;
            }
        }
    }



    @media (min-width: 1220px) and (max-width: 1000000px) {

        section.segundaSeccionIndex {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            div.segundaSeccionIndex__parrafo {
                margin-bottom: 2rem;
            }
        }

        section.terceraSeccionIndex {
            div.terceraSeccionIndex__parrafo {
                font-size: 2rem;
            }
        }
    }
}