section.quienesSomos {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;

    img {
        margin-bottom: 1rem;
        border-radius: 0 0 55px 17px;
        max-width: 500px;
        margin-left: 130px;
    }

    button.btn-primary {
        background-color: $azul-oscuro;
        border-color: $azul-oscuro;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        max-width: 466px;
        margin-left: 130px;
        margin-bottom: 20px;
        &:hover{
            background-color: $azul-claro;
            border-color: $azul-claro;
        }
    }

    div.texto {
        background-color: $azul-claro;
        display: flex;
        flex-direction: column;
        max-width: 45rem;
        border-radius: 10px;

        p {
            font-weight: light;
            color: white;
            display: flex;
            text-align: center;
            align-items: center;
            font-size: 1.2rem;
            padding: 1rem;
        }
    }


    @media screen and (max-width: 1200px) {
        background-position: center 2rem;
    }
}

/*Dispositivo XS*/
@media (min-width: 0px) and (max-width:350px) {
    section.quienesSomos {
        font-size: 1.3rem;
        img{
            width: 300px;
            border-radius: 0 0 21px 17px;
            margin-left: 20px;
        }
        button.btn-primary{
            max-width: 300px;
            margin-left: 14px;
            margin-bottom: 20px;
        }

        div.texto {
            padding-bottom: 1rem;

            p {
                margin-bottom: 0;
                padding-bottom: 0;
                font-size: 1rem;
            }
        }
    }
}

/*Dispositivo SMALL*/
@media (min-width: 351px) and (max-width:516px) {
    section.quienesSomos {
        img {
            margin: 0 auto;
            max-width: 62vw;
            border-radius: 0;
            margin-right: 3vw;
        }

        button.btn-primary {
            width: 59vw;
            margin: 0 auto;
            margin-right: 6.4vw;
        }
    }

}