section.quienesSomos {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    img {
        margin-bottom: 1rem;
    }

    div.texto {
        background-color: $azul-claro;
        display: flex;
        flex-direction: column;
        max-width: 45rem;
        border-radius: 10px;

        p {
            font-weight: light;
            color: white;
            display: flex;
            text-align: center;
            align-items: center;
            font-size: 1.2rem;
            padding: 1rem;
        }
    }


    @media screen and (max-width: 1200px) {
        background-position: center 2rem;
    }
}