.skewed2 {
    height: 37px;
    background: $azul-medio;
    transform: skewY(-4deg);
    margin-top: -26px;
    transform-origin: top right;
}

section#servicios {
    background: $azul-medio;

    .skewed {
        height: 500px;
        background: $azul-medio;
        transform: skewY(5deg);
        margin-top: 57px;
        transform-origin: top right;
    }

    .listaServicios {
        padding-bottom: 2rem;

        h4 {
            color: white;
            font-family: 'Roboto', sans-serif;
            padding: 0 5% 7% 5%;
            font-size: 1.5rem;
        }

        ul {
            padding-left: .9rem;

            li {
                color: white;
                display: flex;
                font-size: 1.3rem;

                i {
                    margin: 3% 5% 0 0;
                }
            }
        }

        button.btn-primary {
            background-color: $azul-claro;
            border-color: $azul-medio;
        }

        .modal {
            li {
                color: black;
            }
        }
    }
}

/*Dispositivo XS*/
@media (min-width: 0px) and (max-width:350px) {

    section#servicios {
        .skewed {
            height: 36px;
            background: $azul-medio;
            transform: skewY(5deg);
            margin-top: 57px;
            transform-origin: top right;
        }

        .listaServicios {
            button.btn-primary {
                width: 90%;
                height: 54px;
                font-size: 1.3rem;
                justify-content: center;
                display: flex;
                margin: 0 auto;
                align-items: center;
            }
        }
    }
}

/*Dispositivo SMALL*/
@media (min-width: 351px) and (max-width:516px) {
    .skewed2 {
        margin-top: -37px;
    }

    section#servicios {
        .skewed {
            height: 54px;
        }

        .listaServicios {
            display: flex;
            flex-direction: column;

            ul {
                max-width: 81vw;
                margin: 0 auto;
            }

            button.btn-primary {
                font-size: 1.3rem;
                margin: 0 auto;
                width: 55vw;
            }
        }
    }
}